---
pagination:
  data: practice
  size: 1
  alias: area
permalink: "/ur/practice/{{ area.slug }}/"
eleventyComputed:
  key: "practice-{{ area.slug }}"
  title: "{{ area.ur.seoTitle | safe }}"
  description: "{{ area.ur.short | safe }}"
---
{% include "pages/practice-area.njk" %}
