---
pagination:
  data: practice
  size: 1
  alias: area
permalink: "/practice/{{ area.slug }}/"
eleventyComputed:
  key: "practice-{{ area.slug }}"
  title: "{{ area.en.seoTitle | safe }}"
  description: "{{ area.en.short | safe }}"
---
{% include "pages/practice-area.njk" %}
